.main-card {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    border: 1px solid #d0d0d0;
}
input {
    border: none;
    border-bottom: 1px solid #4a00cb;
    border-left: 1px solid #4a00cb;
    padding: 8px;
    width: 85%;
    margin-top: 25px;
}

form {
    display: flex;
    width: 100%;
    margin-top: 7px;
}

.body-card {
    display: inline;
}
