.header-card {
    width: 100%;
    display: inline-block;
    background-color: #4a00cb;
    display: flex;
    height: 40px;
    border: 0.5px solid #4a00cb;
    padding-top: 8px;
}

.title-header-card {
    color: #fff;
    margin-left: 2%;
}

.id-header-card {
    color: #fff;
    margin-left: 76%;
}
