.main-card {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    border: 1px solid #d0d0d0;
}

textarea {
    padding: 8px;
    width: 85%;
    margin-top: 25px;
}

select {
    padding: 8px;
    width: 85%;
    margin-top: 25px;
}
#sentence {
    display: block;
}
.block {
    display: flex;
    width: 100%;
    margin-top: 7px;
}
.block2 {
    display: inline-block;
    width: 100%;
    margin-top: 7px;
}
.body-card {
    display: inline;
}
